<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="/img/logo.png" alt="Logo Nyx" class="card-img-top mx-auto rounded-circle w-50">
            <h3 class="mb-5">
                <em>F!</em>
            </h3>
            <a class="btn btn-primary btn-lg w-50" href="/signup">
                Start
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>