<div class="container p-4">
    <div class="row">
        {{#each friends}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">

                        <h3 class="card-title text-uppercase">
                            {{username}}
                        </h3>
                    </a>
                    <a class="btn btn-danger" href="/friends/delete/{{username}}">
                        Delete Friend
                    </a>
                </div>
            </div>
            <div class="card card-body text-center">
                <a href="/friends/addfriend">Add a friend!</a>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are no friends added yet.</p>
                <a href="/friends/addfriend">Add One!</a>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>